<div class="container-prices">
  
    <div class="container-prices__card">
      <mat-card class="content-card">
        <mat-card-header>
          <mat-card-subtitle>Basic</mat-card-subtitle>
          <mat-card-title>FREE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <ul>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
         </ul>
        </mat-card-content>
        <mat-card-actions>
          
          <button mat-button>START</button>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>
    <div class="container-prices__card">
      <mat-card class="content-card">
        <mat-card-header>
          <mat-card-subtitle>Basic</mat-card-subtitle>
          <mat-card-title>FREE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <ul>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
         </ul>
        </mat-card-content>
        <mat-card-actions>
          
          <button mat-button>START</button>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>
    <div class="container-prices__card">
      <mat-card class="content-card">
        <mat-card-header>
          <mat-card-subtitle>Basic</mat-card-subtitle>
          <mat-card-title>FREE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <ul>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
            <li>Hasta 50 productos</li>
         </ul>
        </mat-card-content>
        <mat-card-actions>
          
          <button mat-button>START</button>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>
  </div>

