


.banner-container{
    height: 98vh;
    display: flex;
}

.banner-container__text{
    width: 50%;
    margin: auto;
    text-align: center;
}

.banner-container__img{
    width: 50%;
    margin: auto;
    text-align: center;
}
