<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta facilis hic
      laborum vitae iusto, rerum ad doloribus aliquam culpa reprehenderit libero
      ex necessitatibus alias eum est? Error tempora minima modi, obcaecati
      atque quisquam similique vitae recusandae sequi maiores assumenda!
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="../../../assets/img/connections-link-svgrepo-com.svg"
      alt=""
      width="300px"
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="../../../assets/img/connections-link-svgrepo-com.svg"
      alt=""
      width="300px"
    />
  </mat-grid-tile>
  
  <mat-grid-tile>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta facilis hic
      laborum vitae iusto, rerum ad doloribus aliquam culpa reprehenderit libero
      ex necessitatibus alias eum est? Error tempora minima modi, obcaecati
      atque quisquam similique vitae recusandae sequi maiores assumenda!
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta facilis hic
      laborum vitae iusto, rerum ad doloribus aliquam culpa reprehenderit libero
      ex necessitatibus alias eum est? Error tempora minima modi, obcaecati
      atque quisquam similique vitae recusandae sequi maiores assumenda!
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="../../../assets/img/connections-link-svgrepo-com.svg"
      alt=""
      width="300px"
    />
  </mat-grid-tile>
</mat-grid-list>
